.text{
  font-size: 12px;
  font-weight: bold;
  background-color: #B187BE;
  padding-left: 30%;
  padding-top:1.5%; 
  color: white;
  margin: 0;
  height: 32px;
}
.general{
  margin: 0;
  padding: 0;
 
}

@media (min-width:1000px){
  .text{
    padding-left: 43%;
  }
}